.DS_Store
Library
Temp
Assets/bundles-*
Assets/StreamingAssets
Assets/StreamingAssets.meta
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
unused/
obj/
Assets/Resources/UnityCloudBuildManifest.*
.vscode/
.vs/

JetBrains*
.idea/

Logs/
UserSettings/
ServerData/
addressables_content_state.bin
addressables_content_state.bin.meta
Assets/Resources/cloudbuildversion.*
Assets/AddressableAssetsData/link.*
Assets/Plugins/wwg.encrypt/wwg.encrypt.csproj.meta
Assets/Plugins/wwg.websockets/websocket-sharp/websocket-sharp.csproj.meta
starrealmsapp.sln.DotSettings.user
